
.boxxx {
  height: 11rem;
  border: 1px solid black;
}
.color {
  background-color: #0033cc;
  color: white;
}

.white {
  color: white;
}
.grey{
  color: #818186;
}
.margin {
  margin-left: 20rem;
}
.margin1 {
  margin-left: 2rem;
}
.font {
  font-weight: 700;
  font-size: 2rem;
}
.display {
  position: fixed;
}
.Login {
  top: 10rem;
}
@media (max-width: 1200px) {
  
}
 
@media (min-width: 1200px) {
       
        
  .fontt {
    font-size: 3.5rem;
  }
  .fonttt {
    font-size: 5rem;
    font-weight: bold;
  }
  .fonttz{
    font-size: 3rem;
      font-weight: bold;
  }
    .posi {
      position: relative;
      bottom: 250px;
  
    }
    .poo{
      bottom:200px; 
    }
    .sizemore{
      font-size: 3rem;
    }
    .rela{
      position: relative;
      right: 100px;
      top: 100px;
    }
        .all {
          bottom: 700px;
        }
                 .count {
                   font-size: 100px;
                   font-weight: bold;
                 }
  .hours{
    position: relative;
    bottom: 230px;
  }
}

@media (max-width: 992px) {
  .sidebar {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .fonts {
    font-size: 0.6rem;
  }
}

@media (max-width: 576px) {
  .fonts {
    font-size: 0.6rem;
  }
  .sizeicon{
    font-size: 10px;
  }

  .sizedangnhap {
    font-size: 1.1rem;
  }
  .me {
    font-size: 0.7rem;
  }
  .anh {
    width: 40%;
    height: 40%;
  }

  .fontttt {
    font-size: 0.7rem;
  }.fonttttt {
    font-size: 0.9rem;
  }
  .posi{
    position: relative;
    bottom:60px
  }
  .sizex{
    width: 35px;
    height: 35px;
  }
  .sizemore{
    font-size: 1.3rem;
  }
    .sizemore1 {
      font-size: 1rem;
    }
  .rela{
    position: relative;
    right: 50px;
  }
     
    .sizemores {
      font-size: 0.7rem;
      bottom: 155px;
    }
        .count {
          font-size: 50px;
          font-weight: bold;
        }
  .hours{
    position: relative;
    bottom: 50px;
  }
   
}
@media (min-width: 576px) {
  
}
.zind {
  position: fixed;
  z-index: inherit;
}
.box1 {
  border: 1px solid black;
  
}
.decorate {
  text-decoration: none;
}
.boxQR {
  border: 1px ridge lightgray;
  height: 14rem;
}
.fss {
  font-size: 0.8rem;
}
.btn-back-to-top {
  position: absolute;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid black;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  z-index: 99;
}
/* Styles for the Slideshow component */
.slideshow {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.slide img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.controls button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.indicators button {
  background-color: rgb(225, 225, 225);
  color: #000;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin: 0 3px;
  width: 1rem;
  height: 1.3rem;
  border-radius: 50%;
}

.indicators button.active {
  background-color: #000000;
  color: #fff;
  width: 1rem;
  height: 1.3rem;
}


.back {
  border-radius: 50%;
  border: 2px solid #2d0000;
}
.watchvideo{
  border: 0px solid red;
  background-color: white;
  color: #007bff;
}
.watch{
  height: 5px;
}

.black{
  color: black;
}
.ri{
  left: 25px;
}
.fix{
  position: fixed;
  cursor: pointer;
  border: 0px solid white;
  background-color:transparent;
}

 

 .boxApple3 {
  
   background-image: linear-gradient(#f7f7f8, white, white, rgb(255, 255, 255));

 }
 .boxApple9 {


   background-color: rgb(0, 0, 0);
 }
 .cursor{
  cursor:pointer;
 }
 .boxApple11{

 }
.boxGrey{
  background-image: linear-gradient(#f7f7f8,white,white, white, white, rgb(255, 255, 255));

}
.boxGrey1 {
  background-color: #f7f7f8;
 
}
.inboxgrey{
  background-color: white;

}.inboxgrey1 {
  background-color: #f5f5f7;

}
.boxApple13{
  height: 300rem;
    background-image: linear-gradient(white, #f5f5f7,#f5f5f7,#f5f5f7);
}
.backs{
    background-color: #f5f5f7;
}

.accordion-button.collapsed {
  
  background-color: #f5f5f7;
  
}
.card{
  width: 20rem;
      height: 18rem;
      border: 0px solid white;
}